<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif;">
    <h2>¡Bienvenido! {{name}}</h2>
    <p>Tu registro fue exitoso. Gracias por unirte a nuestra plataforma</p>
    <p>Equipo Backend II</p>
</body>
</html>